]
<ion-header>
  <ion-toolbar>
    <div class="toolbar-row">
      <div class="toolbar-title">Citas</div>
      <ion-button routerLink="/configuracion" color="primary">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>Config</ion-label>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="citaAleatoria; else sinCita">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cita del día</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-cita-card
          [cita]="citaAleatoria"
          [puedeBorrar]="puedeBorrarEnInicio"
          (borrarCita)="eliminarCita()">
        </app-cita-card>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #sinCita>
    <ion-card>
      <ion-card-content>
        No hay citas guardadas.
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/gestion" color="primary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

