.cita-container {
  padding: 20px;
  text-align: center;
}

.frase-text {
  font-style: italic;
  color: #3880ff; /* Color azul similar al de la imagen */
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.autor-text {
  text-align: right;
  font-weight: bold;
  color: #222;
}

.footer-card {
  display: flex;
  justify-content: flex-end;
}

.frase-estilo {
  font-style: italic;
  font-size: 1.1rem;
  color: var(--ion-color-primary);
  margin-bottom: 8px;
}

ion-note {
  display: block;
  text-align: right;
  font-weight: bold;
}